img {
   display: left;
   padding: 0px;
   margin: 0 auto;
   border-radius: 50px;
}

div.contrast {
background-color: rgb(204,241,255);
color: rgb(0,37,51);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#demoimage {
  float: left ;
}

#democontainer {
  width: 1000px ;
  max-width: 100% ;
  margin-left: 0 ;
  margin-right: auto;
}
