body {
    background-color: rgb(0,37,51);
}

h1 {
    font-size: 2em;
    margin-left: 20px;
    margin-right: 30px;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(204,241,255);
}

h2 {
    font-size: 1.2em;
    margin-left: 20px;
    margin-right: 30px;
    text-align: justify;
    margin-bottom: 20px;
    color: rgb(204,241,255)
}

/*styling for about-us.html*/
/* if not used we can delete the .overview styling*/
.overview {
}

.title {
    background-color: rgb(204,241,255);
    border: solid rgb(204,241,255);
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 1%:
}

.titlefont {
    font-size: 2em;
    margin-top: 10px;
}

.fonts {
    font-family: Helvetica Neue;
    color: rgb(0,37,51);
}

.contrast {
    text-align: justify;
}
.middle {
    margin-bottom: 20px;
}

.bottom {
    margin-bottom: 20px;

}

.democontainer {
    display: flex;
    background-color: rgb(204,241,255);
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 1%:
    margin-bottom: 10%;
    align-items: center;

}

.demoimage {
    flex-basis: auto;
    margin: 0 5%;
    border-radius: 130px;
    background-size: cover;
    min-width: 150px;
    height: 150px;

}

.demoimage1 {
    background-image: url('../images/photo-of-izzy.jpg');
}

.demoimage2 {
    background-image: url('../images/Maui_2011_23 2-i.jpg');
}

.demotext {
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

/*styling for contact-us.html*/

.container {
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(0,37,51);
    padding: 15px;
    width: 80%;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 30px;
}

.submit-link {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-left: 12px;
    float: left;
}

/*styling for suggestion-page.html*/

label {
    color: rgb(204,241,255);
}

.col-25 {
    width: 75%;
    margin-top: 6px;
    margin-bottom: 9px;
    margin-left: 10px;
    margin-right: 30px;
}

.col-75 {
    width: 75%;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 30px;
}
.col-85 {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 30px;
}

input[type=text] {
    border: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(187,205,212);
}

textarea {
    width: 100%;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(187,205,212);
}

/* styling contact.html, submit.html*/

.thankyou {
    font-size: 0.8em;
    margin-top: 50px;
    margin-left: 30px;
    color: rgb(204,241,255);
}